# Web Framework
fastapi

# ASGI Server to run FastAPI
uvicorn[standard]

# WebSocket support
websockets

# HTTP client for Auth Service communication
httpx

# JSON logging
python-json-logger

# GraphQL Support
strawberry-graphql[fastapi]

# ODM asíncrono para MongoDB, basado en Pydantic
beanie

# MongoDB Driver and BSON Support
motor

# MongoDB Client with SRV support
pymongo[srv]

# Pytest
pytest
pytest-asyncio
httpx

# Mocking MongoDB for tests
mongomock-motor